* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Inter', sans-serif;
}
a {
    text-decoration: none; /* отменяем нижнее подчеркивание у ссылок */
}
header {
    background-color: #1ABC9C;
    padding: 15px 0; /* отступы сверху/снизу */
}
.wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    list-style: none; /* сброс маркера у элементов списка */
    display: flex;
}
li:not(:last-child) {
    margin-right: 20px;
}
.nav-link {
    font-size: 25px;
    color: black;
}
.social-link:not(:last-child) {
    margin-right: 20px;
}
/* about */
.about {
    display: flex;
    align-items: center;
}
.about-img {
    width: 50%;
}
.about-info {
    width: 50%;
}
h1 {
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 35px;
}
.about-descr {
    padding: 0 65px;
    font-size: 20px;
    text-align: justify;
}
/* наши проекты */
.projects {
    background-color: #DCFFEB;
    padding: 125px 0; /* 125px - сверху/снизу, 0 - справа/слева */
}
.projects-wrapper {
    width: 90%;
    margin: auto;
}
.projects-list {
    display: flex;
    gap: 40px; /* отступы между элементами */
}
.project {
    width: 33%; /* calc(33% - 80 / 3) */
    aspect-ratio: 436/376; /* соотношение сторон */
    background-image: url(./images/project.png);
}
/* 
    .project:not(:last-child) {
        margin-right: 40px;
    }


    gap - отступы между элементами внутри flexbox

    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
*/


/* 


    text-align: justify - выравнивание по ширине

    header li:not(:last-child), header a:not(:last-child) {
        margin-right: 20px;
    }

    Задача. добавить отступы между картинками социальных иконок

    h1
    font-size 32-36px;
    font-weight: 600;

    p, a, div
    font-size: 16px
    font-weight: 400
    font-style: normal
    line-height: normal    


    :first-child - первый дочерний элемент
    :last-child - последний дочерний элемент

    :not() - отрицание, инверсия

    Задача. Позиционировать блоки в header в одну строку равноудаленно друг от друга

    list-style: 
        a) list-style-type - тип маркера
        б) list-style-pos - 
        в) list-style-image -

        background: red;

        background:
         a) background-image
         б) background-size
         в) background-position
         г) background-repeat
         д) background-color

         background:  url("./img1.jpg") cover center no-repeat;
*/
